{
  "openapi": "3.0.0",
  "info": {
    "title": "ArgentinaDatos API",
    "version": "1.0.0",
    "description": "API pública, **no oficial**, desarrollada en [EsJS](https://es.js.org?ref=argentinadatos.com) que brinda información actualizada sobre diferentes datos de Argentina.\n\n<br/>¿Encontraste útil esta API? **¡Dejá tu ⭐ en [GitHub](https://github.com/enzonotario/esjs-argentina-datos-api)!**"
  },
  "servers": [
    {
      "url": "https://api.argentinadatos.com",
      "description": "Servidor principal"
    }
  ],
  "paths": {
    "/v1/feriados/{año}": {
      "get": {
        "summary": "Feriados",
        "tags": [
          "Eventos"
        ],
        "description": "Devuelve los feriados del año indicado (o del año actual si no se especifica).",
        "parameters": [
          {
            "name": "año",
            "in": "path",
            "description": "Año de consulta",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2016,
              "maximum": 2026
            },
            "example": 2026
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve los feriados del año actual",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feriado"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-feriados",
        "x-data-source": [
          "[La Nación](https://www.lanacion.com.ar/feriados/)"
        ]
      }
    },
    "/v1/cotizaciones/dolares": {
      "get": {
        "summary": "Dólares",
        "tags": [
          "Cotizaciones históricas"
        ],
        "description": "Devuelve las cotizaciones de todas las casas de cambio.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de cotizaciones del dólar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cotizacion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-cotizaciones-dolares",
        "x-data-source": [
          "[DolarApi](https://dolarapi.com)"
        ]
      }
    },
    "/v1/cotizaciones/dolares/{casa}": {
      "get": {
        "summary": "Dólares por casa",
        "tags": [
          "Cotizaciones históricas"
        ],
        "description": "Devuelve las cotizaciones del dólar de la casa de cambio especificada.",
        "parameters": [
          {
            "name": "casa",
            "in": "path",
            "description": "Casa de cambio",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "oficial",
                "blue",
                "bolsa",
                "contadoconliqui",
                "cripto",
                "mayorista",
                "solidario",
                "turista"
              ]
            },
            "example": "blue"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de cotizaciones del dólar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cotizacion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-cotizaciones-dolares-casa",
        "x-data-source": [
          "[DolarApi](https://dolarapi.com)"
        ]
      }
    },
    "/v1/cotizaciones/dolares/{casa}/{fecha}": {
      "get": {
        "summary": "Dólar por casa y fecha",
        "tags": [
          "Cotizaciones históricas"
        ],
        "description": "Devuelve la cotización del dólar de la casa de cambio especificada en la fecha indicada (en formato `YYYY/MM/DD`).",
        "parameters": [
          {
            "name": "casa",
            "in": "path",
            "description": "Casa de cambio",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "oficial",
                "blue",
                "bolsa",
                "contadoconliqui",
                "cripto",
                "mayorista",
                "solidario",
                "turista"
              ]
            },
            "example": "blue"
          },
          {
            "name": "fecha",
            "in": "path",
            "description": "Fecha de consulta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024/01/01"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de cotizaciones del dólar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cotizacion"
                }
              }
            }
          }
        },
        "operationId": "get-cotizaciones-dolares-casa-fecha",
        "x-data-source": [
          "[DolarApi](https://dolarapi.com)"
        ]
      }
    },
    "/v1/eventos/presidenciales": {
      "get": {
        "summary": "Eventos presidenciales",
        "tags": [
          "Eventos"
        ],
        "description": "Devuelve los eventos presidenciales.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de eventos presidenciales",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventoPresidencial"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-eventos-presidenciales",
        "x-data-source": [
          "[Wikipedia](https://es.wikipedia.org/wiki/Anexo:Presidentes_de_la_Naci%C3%B3n_Argentina)"
        ]
      }
    },
    "/v1/finanzas/indices/inflacion": {
      "get": {
        "summary": "Índices de inflación",
        "tags": [
          "Finanzas",
          "Índices"
        ],
        "description": "Devuelve los índices de inflación mensuales.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de índices de inflación",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndiceInflacion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-indices-inflacion",
        "x-sidebar-title": "Inflación mensual",
        "x-data-source": [
          "[BCRA](https://bcra.gob.ar/)"
        ]
      }
    },
    "/v1/finanzas/indices/inflacionInteranual": {
      "get": {
        "summary": "Índices de inflación interanuales",
        "tags": [
          "Finanzas",
          "Índices"
        ],
        "description": "Devuelve los índices de inflación interanuales.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de índices de inflación",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndiceInflacion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-indices-inflacion-interanual",
        "x-sidebar-title": "Inflación interanual",
        "x-data-source": [
          "[BCRA](https://bcra.gob.ar/)"
        ]
      }
    },
    "/v1/finanzas/indices/uva": {
      "get": {
        "summary": "Índices UVA",
        "tags": [
          "Finanzas",
          "Índices"
        ],
        "description": "Devuelve los índices UVA.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de índices UVA",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndiceUVA"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-indices-uva",
        "x-data-source": [
          "[BCRA](https://bcra.gob.ar/)"
        ]
      }
    },
    "/v1/finanzas/indices/riesgo-pais": {
      "get": {
        "summary": "Riesgo país",
        "tags": [
          "Finanzas",
          "Índices"
        ],
        "description": "Devuelve una lista de riesgo país. Para obtener el último valor, consultar `/v1/finanzas/indices/riesgo-pais/ultimo`.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de riesgo país",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RiesgoPais"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-indices-riesgo-pais",
        "x-data-source": [
          "[Ámbito](https://mercados.ambito.com/riesgopais/)"
        ]
      }
    },
    "/v1/finanzas/indices/riesgo-pais/ultimo": {
      "get": {
        "summary": "Riesgo país (último)",
        "tags": [
          "Finanzas",
          "Índices"
        ],
        "description": "Devuelve el último valor de riesgo país.",
        "responses": {
          "200": {
            "description": "Devuelve el último valor de riesgo país",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiesgoPais"
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-indices-riesgo-pais-ultimo",
        "x-data-source": [
          "[Ámbito](https://mercados.ambito.com/riesgopais/)"
        ]
      }
    },
    "/v1/finanzas/tasas/plazoFijo": {
      "get": {
        "summary": "Plazo fijo",
        "tags": [
          "Finanzas",
          "Tasas"
        ],
        "description": "Tasa Nominal Anual para colocaciones online de $100.000 a 30 días.(*).\n\nLas tasas son reportadas por los bancos al BCRA en cumplimiento del Régimen Informativo de Transparencia, capítulo I.\n\n(*): La tasa puede cambiar para otros montos o plazos.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de tasas de plazo fijo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TasaPlazoFijo"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-tasas-plazo-fijo",
        "x-data-source": [
          "[BCRA](https://www.bcra.gob.ar/api/endpoints/plazos-fijos.php)"
        ]
      }
    },
    "/v1/finanzas/tasas/plazoFijoUvaPagoPeriodico": {
      "get": {
        "summary": "Plazo fijo UVA con pago periódico de intereses",
        "tags": [
          "Finanzas",
          "Tasas"
        ],
        "description": "Tasas Nominales Anuales (TNA) y Tasas Efectivas Anuales (TEA) para plazos fijos UVA con pago periódico de intereses.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de proveedores, cada uno con sus tasas por rango de plazo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProveedorPlazoFijoUvaPagoPeriodico"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-tasas-plazo-fijo-uva-pago-periodico",
        "x-data-source": [
          "[BNA](https://www.bna.com.ar/Personas/PlazoFijoElectronico)"
        ]
      }
    },
    "/v1/finanzas/tasas/plazoFijoPrecancelable": {
      "get": {
        "summary": "Plazo fijo UVA precancelable",
        "tags": [
          "Finanzas",
          "Tasas"
        ],
        "description": "Condiciones y tasas publicadas por entidades bancarias para plazos fijos UVA precancelables.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de proveedores con condiciones de plazo fijo UVA precancelable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProveedorPlazoFijoPrecancelable"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-tasas-plazo-fijo-precancelable",
        "x-data-source": [
          "[BNA](https://www.bna.com.ar/personas/plazofijoprecancelableuva)",
          "[BBVA](https://www.bbva.com.ar/economia-para-tu-dia-a-dia/ef/plazos-fijos/que-es-plazo-fijo-uva.html)",
          "[Banco Provincia](https://www.bancoprovincia.com.ar/mvc/productos/inversiones/Plazo_Fijo_uva_cancel_ant/Plazo_Fijo_uva_ca_info_gral)"
        ]
      }
    },
    "/v1/finanzas/tasas/depositos30Dias": {
      "get": {
        "summary": "Depósitos a 30 días",
        "tags": [
          "Finanzas",
          "Tasas"
        ],
        "description": "Tasas de interés por depósitos a 30 días de plazo.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de tasas de interés por depósitos a 30 días",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TasaInteres"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-tasas-depositos-30-dias",
        "x-data-source": [
          "[BCRA](https://bcra.gob.ar/)"
        ]
      }
    },
    "/v1/finanzas/criptopesos": {
      "get": {
        "summary": "Criptopesos",
        "tags": [
          "Finanzas",
          "Tasas"
        ],
        "description": "Tasas Nominales Anuales (TNA) de criptopesos por entidad.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de tasas de criptopesos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Criptopeso"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-criptopesos",
        "x-data-source": [
          "[Belo](https://www.belo.app/)",
          "[Ripio](https://www.ripio.com/ar/)",
          "[Buenbit](https://buenbit.com/)"
        ]
      }
    },
    "/v1/finanzas/letras": {
      "get": {
        "summary": "Letras capitalizables (LECAP/BONCAP)",
        "tags": [
          "Finanzas",
          "Letras"
        ],
        "description": "Pago final (VPV) y fechas de emisión y vencimiento de las letras capitalizables (LECAP) y bonos capitalizables (BONCAP) activos, calculados a partir de los archivos oficiales de la Secretaría de Finanzas.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de letras capitalizables activas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LetraCapitalizable"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-letras",
        "x-data-source": [
          "[@arielsbdar](https://x.com/arielsbdar)",
          "[Ministerio de Economía](https://www.argentina.gob.ar/economia/finanzas/deudapublica/colocacionesdedeuda)",
          "[https://data912.com](https://data912.com)"
        ]
      }
    },
    "/v1/finanzas/bonos-cer": {
      "get": {
        "summary": "Bonos soberanos ajustados por CER",
        "tags": [
          "Finanzas",
          "Bonos"
        ],
        "description": "Bonos soberanos en pesos indexados por CER: cotización y TIR.",
        "responses": {
          "200": {
            "description": "Listado de bonos soberanos CER con marca temporal de actualización",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BonosCer"
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-bonos-cer",
        "x-data-source": [
          "[Docta Capital](https://app.doctacapital.com.ar/dashboard/bonos/general/soberanos/cer)"
        ]
      }
    },
    "/v1/finanzas/creditos/hipotecariosUva": {
      "get": {
        "summary": "Créditos Hipotecarios UVA",
        "tags": [
          "Finanzas",
          "Créditos"
        ],
        "description": "Tasas Nominales Anuales (TNA) de créditos hipotecarios UVA por entidad bancaria.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de TNA de créditos hipotecarios UVA",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HipotecarioUvaTna"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-creditos-hipotecarios-uva",
        "x-data-source": [
          "[@SalinasAndres](https://x.com/SalinasAndres)"
        ]
      }
    },
    "/v1/finanzas/cuentas-remuneradas-usd": {
      "get": {
        "summary": "Cuentas remuneradas en USD",
        "tags": [
          "Finanzas",
          "Tasas"
        ],
        "description": "Tasa de rendimiento anual y tope remunerable en dólares de **cuentas remuneradas en USD** de bancos relevados.",
        "responses": {
          "200": {
            "description": "Lista de entidades con tasa y tope vigentes al último relevamiento",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CuentaRemuneradaUsd"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-cuentas-remuneradas-usd",
        "x-data-source": [
          "[Banco de la Nación Argentina](https://www.bna.com.ar/home/cuentaremunerada)",
          "[Banco Galicia](https://www.galicia.ar/personas/beneficios-dolares)",
          "[Supervielle](https://www.supervielle.com.ar/personas/cuentas/cuenta-remunerada-dolares)"
        ]
      }
    },
    "/v1/finanzas/fci/mercadoDinero/{fecha}": {
      "get": {
        "summary": "Mercado de dinero",
        "tags": [
          "Finanzas",
          "FCI"
        ],
        "description": "Devuelve los valores de Mercado de Dinero de los Fondos Comunes de Inversión en la fecha indicada (en formato `YYYY/MM/DD`).\n\nTambién se puede consultar el `ultimo` y `penultimo` día con valores utilizando los endpoints: \n\n- `/v1/finanzas/fci/mercadoDinero/ultimo`\n- `/v1/finanzas/fci/mercadoDinero/penultimo`",
        "parameters": [
          {
            "name": "fecha",
            "in": "path",
            "description": "Fecha de consulta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "ultimo"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de Fondos Comunes de Inversión",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FondoComunInversion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-fci-mercado-dinero-fecha",
        "x-data-source": [
          "[CAFCI](https://cafci.org.ar)"
        ]
      }
    },
    "/v1/finanzas/fci/rentaVariable/{fecha}": {
      "get": {
        "summary": "Renta variable",
        "tags": [
          "Finanzas",
          "FCI"
        ],
        "description": "Devuelve los valores de Renta Variable de los Fondos Comunes de Inversión en la fecha indicada (en formato `YYYY/MM/DD`).\n\nTambién se puede consultar el `ultimo` y `penultimo` día con valores utilizando los endpoints: \n\n- `/v1/finanzas/fci/rentaVariable/ultimo`\n- `/v1/finanzas/fci/rentaVariable/penultimo`",
        "parameters": [
          {
            "name": "fecha",
            "in": "path",
            "description": "Fecha de consulta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "ultimo"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de Fondos Comunes de Inversión",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FondoComunInversion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-fci-renta-variable-fecha",
        "x-data-source": [
          "[CAFCI](https://cafci.org.ar)"
        ]
      }
    },
    "/v1/finanzas/fci/rentaFija/{fecha}": {
      "get": {
        "summary": "Renta fija",
        "tags": [
          "Finanzas",
          "FCI"
        ],
        "description": "Devuelve los valores de Renta Fija de los Fondos Comunes de Inversión en la fecha indicada (en formato `YYYY/MM/DD`).\n\nTambién se puede consultar el `ultimo` y `penultimo` día con valores utilizando los endpoints: \n\n- `/v1/finanzas/fci/rentaFija/ultimo`\n- `/v1/finanzas/fci/rentaFija/penultimo`",
        "parameters": [
          {
            "name": "fecha",
            "in": "path",
            "description": "Fecha de consulta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "ultimo"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de Fondos Comunes de Inversión",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FondoComunInversion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-fci-renta-fija-fecha",
        "x-data-source": [
          "[CAFCI](https://cafci.org.ar)"
        ]
      }
    },
    "/v1/finanzas/fci/rentaMixta/{fecha}": {
      "get": {
        "summary": "Renta mixta",
        "tags": [
          "Finanzas",
          "FCI"
        ],
        "description": "Devuelve los valores de Renta Mixta de los Fondos Comunes de Inversión en la fecha indicada (en formato `YYYY/MM/DD`).\n\nTambién se puede consultar el `ultimo` y `penultimo` día con valores utilizando los endpoints: \n\n- `/v1/finanzas/fci/rentaMixta/ultimo`\n- `/v1/finanzas/fci/rentaMixta/penultimo`",
        "parameters": [
          {
            "name": "fecha",
            "in": "path",
            "description": "Fecha de consulta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "ultimo"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de Fondos Comunes de Inversión",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FondoComunInversion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-fci-renta-mixta-fecha",
        "x-data-source": [
          "[CAFCI](https://cafci.org.ar)"
        ]
      }
    },
    "/v1/finanzas/fci/retornoTotal/{fecha}": {
      "get": {
        "summary": "Retorno total",
        "tags": [
          "Finanzas",
          "FCI"
        ],
        "description": "Devuelve los valores de Retorno Total de los Fondos Comunes de Inversión en la fecha indicada (en formato `YYYY/MM/DD`).\n\nTambién se puede consultar el `ultimo` y `penultimo` día con valores utilizando los endpoints: \n\n- `/v1/finanzas/fci/retornoTotal/ultimo`\n- `/v1/finanzas/fci/retornoTotal/penultimo`",
        "parameters": [
          {
            "name": "fecha",
            "in": "path",
            "description": "Fecha de consulta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "ultimo"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de Fondos Comunes de Inversión",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FondoComunInversion"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-fci-retorno-total-fecha",
        "x-data-source": [
          "[CAFCI](https://cafci.org.ar)"
        ]
      }
    },
    "/v1/finanzas/fci/otros/{fecha}": {
      "get": {
        "summary": "Otros",
        "tags": [
          "Finanzas",
          "FCI"
        ],
        "description": "Devuelve los valores de Otros Fondos Comunes de Inversión en la fecha indicada (en formato `YYYY/MM/DD`).\n\nTambién se puede consultar el `ultimo` y `penultimo` día con valores utilizando los endpoints: \n\n- `/v1/finanzas/fci/otros/ultimo`\n- `/v1/finanzas/fci/otros/penultimo`",
        "parameters": [
          {
            "name": "fecha",
            "in": "path",
            "description": "Fecha de consulta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "ultimo"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de Fondos Comunes de Inversión",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FondoComunInversionOtro"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-fci-otros-fecha",
        "x-data-source": [
          "[Ualá](http://uala.com.ar/)",
          "[Belo](https://www.belo.app/)",
          "[BNA](https://www.bna.com.ar/)",
          "[Brubank](https://www.brubank.com/)",
          "[Carrefour Banco](https://www.bancodeserviciosfinancieros.com.ar/carrefourbank/)",
          "[Cresium](https://www.cresium.com/)",
          "[Fiwind](https://www.fiwind.io/)",
          "[Montemar Pay](https://www.montemarpay.com.ar/)",
          "[Naranja X](https://www.naranjax.com/)",
          "[Supervielle](https://www.supervielle.com.ar/)"
        ]
      }
    },
    "/v1/presidentes": {
      "get": {
        "summary": "Presidentes",
        "tags": [
          "Historia"
        ],
        "description": "Devuelve la lista de presidentes de la Nación Argentina.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de presidentes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Presidente"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-presidentes",
        "x-data-source": [
          "[Wikipedia](https://es.wikipedia.org/wiki/Anexo:Presidentes_de_la_Naci%C3%B3n_Argentina)"
        ]
      }
    },
    "/v1/estado": {
      "get": {
        "summary": "Estado de la API",
        "description": "Devuelve el estado de la API.",
        "tags": [
          "API"
        ],
        "responses": {
          "200": {
            "description": "Devuelve el estado de la API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estado"
                }
              }
            }
          }
        },
        "operationId": "get-estado"
      }
    },
    "/v1/finanzas/rendimientos": {
      "get": {
        "summary": "Rendimientos de todas las entidades",
        "tags": [
          "Finanzas",
          "Rendimientos"
        ],
        "description": "Rendimientos de distintas monedas por entidad.\n\nLas entidades disponibles son:\n\n- [Nexo](https://nexo.com/?ref=argentinadatos.com)\n\n- [Fiwind](https://www.fiwind.io/?ref=argentinadatos.com)\n\n- [Letsbit](https://letsbit.io/?ref=argentinadatos.com)\n\n- [Belo](https://www.belo.app/?ref=argentinadatos.com)\n\n- [Lemon Cash](https://www.lemon.me/?ref=argentinadatos.com)\n\n- [Ripio](https://www.ripio.com/ar/?ref=argentinadatos.com)\n\n- [Satoshi Tango](https://www.satoshitango.com/?ref=argentinadatos.com)\n\n- [Luca Money](https://lucamoney.com/?ref=argentinadatos.com)\n\n- [Decrypto](https://www.decrypto.la//?ref=argentinadatos.com)",
        "responses": {
          "200": {
            "description": "Devuelve una lista de rendimientos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntidadRendimiento"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-rendimientos",
        "x-sidebar-title": "De entidades",
        "x-data-source": [
          "[Nexo](https://nexo.com/)",
          "[Fiwind](https://www.fiwind.io/)",
          "[Letsbit](https://letsbit.io/)",
          "[Belo](https://www.belo.app/)",
          "[Lemon Cash](https://www.lemon.me/)",
          "[Ripio](https://www.ripio.com/ar/)",
          "[Satoshi Tango](https://www.satoshitango.com/ar/)",
          "[Luca Money](https://lucamoney.com/)",
          "[Decrypto](https://www.decrypto.la/)",
          "[Vesseo](https://www.vesseofinance.com/)",
          "[AstroPay](https://www.astropay.com/ar/)"
        ]
      }
    },
    "/v1/finanzas/rendimientos/{entidad}": {
      "get": {
        "summary": "Por entidad",
        "tags": [
          "Finanzas",
          "Rendimientos"
        ],
        "description": "Rendimientos de distintas monedas por entidad.\n\nLas entidades disponibles son:\n\n- [Nexo](https://nexo.com/?ref=argentinadatos.com)\n\n- [Fiwind](https://www.fiwind.io/?ref=argentinadatos.com)\n\n- [Letsbit](https://letsbit.io/?ref=argentinadatos.com)\n\n- [Belo](https://www.belo.app/?ref=argentinadatos.com)\n\n- [Lemon Cash](https://www.lemon.me/?ref=argentinadatos.com)\n\n- [Ripio](https://www.ripio.com/ar/?ref=argentinadatos.com)\n\n- [Satoshi Tango](https://www.satoshitango.com/?ref=argentinadatos.com)\n\n- [Luca Money](https://lucamoney.com/?ref=argentinadatos.com)\n\n- [Decrypto](https://www.decrypto.la//?ref=argentinadatos.com)",
        "parameters": [
          {
            "name": "entidad",
            "in": "path",
            "description": "Entidad",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "nexo",
                "fiwind",
                "letsbit",
                "belo",
                "lemoncash",
                "ripio",
                "satoshitango",
                "lucamoney",
                "decrypto"
              ]
            },
            "example": "nexo"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de rendimientos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rendimiento"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-rendimientos-entidad",
        "x-data-source": [
          "[Nexo](https://nexo.com/)",
          "[Fiwind](https://www.fiwind.io/)",
          "[Letsbit](https://letsbit.io/)",
          "[Belo](https://www.belo.app/)",
          "[Lemon Cash](https://www.lemon.me/)",
          "[Ripio](https://www.ripio.com/ar/)",
          "[Satoshi Tango](https://www.satoshitango.com/ar/)",
          "[Luca Money](https://lucamoney.com/)",
          "[Decrypto](https://www.decrypto.la/)",
          "[Vesseo](https://www.vesseofinance.com/)",
          "[AstroPay](https://www.astropay.com/ar/)"
        ]
      }
    },
    "/v1/senado/senadores": {
      "get": {
        "summary": "Senadores",
        "tags": [
          "Senado"
        ],
        "description": "Devuelve los senadores.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de senadores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Senador"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-senado-senadores",
        "x-data-source": [
          "[Senado](https://www.senado.gob.ar)"
        ]
      }
    },
    "/v1/senado/actas/{año}": {
      "get": {
        "summary": "Actas por año",
        "tags": [
          "Senado"
        ],
        "description": "Devuelve las actas del Senado del año indicado.",
        "parameters": [
          {
            "name": "año",
            "in": "path",
            "description": "Año de consulta",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2016,
              "maximum": 2026
            },
            "example": 2026
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de actas del Senado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActaSenado"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-senado-actas-año",
        "x-data-source": [
          "[Senado](https://www.senado.gob.ar)"
        ]
      }
    },
    "/v1/senado/actas": {
      "get": {
        "summary": "Actas",
        "tags": [
          "Senado"
        ],
        "description": "Devuelve las actas del Senado.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de actas del Senado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActaSenado"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-senado-actas",
        "x-data-source": [
          "[Senado](https://www.senado.gob.ar)"
        ]
      }
    },
    "/v1/diputados/diputados": {
      "get": {
        "summary": "Diputados",
        "tags": [
          "Diputados"
        ],
        "description": "Devuelve los diputados.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de diputados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Diputado"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-diputados-diputados",
        "x-data-source": [
          "[Diputados](https://datos.hcdn.gob.ar)"
        ]
      }
    },
    "/v1/diputados/actas/{año}": {
      "get": {
        "summary": "Actas por año",
        "tags": [
          "Diputados"
        ],
        "description": "Devuelve las actas de Diputados del año indicado.",
        "parameters": [
          {
            "name": "año",
            "in": "path",
            "description": "Año de consulta",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2016,
              "maximum": 2026
            },
            "example": 2026
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de actas de Diputados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActaDiputados"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-diputados-actas-año",
        "x-data-source": [
          "[Diputados](https://votaciones.hcdn.gob.ar)"
        ]
      }
    },
    "/v1/diputados/actas": {
      "get": {
        "summary": "Actas",
        "tags": [
          "Diputados"
        ],
        "description": "Devuelve las actas de Diputados.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de actas de Diputados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActaDiputados"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-diputados-actas",
        "x-data-source": [
          "[Diputados](https://votaciones.hcdn.gob.ar)"
        ]
      }
    },
    "/v1/rems": {
      "get": {
        "summary": "Relevamientos de Expectativas de Mercado (REM)",
        "tags": [
          "Finanzas",
          "REM"
        ],
        "description": "Devuelve el índice de endpoints relativos para consultar el último REM y cada uno de los informes REM disponibles por período.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de endpoints relativos disponibles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "/rems/2026/03"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-rems",
        "x-sidebar-title": "REM",
        "x-data-source": [
          "[BCRA](https://www.bcra.gob.ar/ultimos-informes/)"
        ]
      }
    },
    "/v1/rems/ultimo": {
      "get": {
        "summary": "Relevamiento de Expectativas de Mercado (REM) - último informe",
        "tags": [
          "Finanzas",
          "REM"
        ],
        "description": "Devuelve las expectativas del último informe REM disponible.",
        "responses": {
          "200": {
            "description": "Devuelve una lista de expectativas del último REM",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RemExpectativa"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-rems-ultimo",
        "x-sidebar-title": "Último informe",
        "x-data-source": [
          "[BCRA](https://www.bcra.gob.ar/ultimos-informes/)"
        ]
      }
    },
    "/v1/rems/{año}/{mes}": {
      "get": {
        "summary": "Relevamiento de Expectativas de Mercado (REM) por período",
        "tags": [
          "Finanzas",
          "REM"
        ],
        "description": "Devuelve las expectativas del informe REM correspondiente al año y mes indicados.",
        "parameters": [
          {
            "name": "año",
            "in": "path",
            "description": "Año del informe REM",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2016
            },
            "example": 2026
          },
          {
            "name": "mes",
            "in": "path",
            "description": "Mes del informe REM con dos dígitos",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])$"
            },
            "example": "03"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de expectativas del REM para el período indicado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RemExpectativa"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-rems-anio-mes",
        "x-sidebar-title": "Por período",
        "x-data-source": [
          "[BCRA](https://www.bcra.gob.ar/ultimos-informes/)"
        ]
      }
    },
    "/v1/finanzas/fci/variables/{fecha}": {
      "get": {
        "summary": "Variables",
        "tags": [
          "Finanzas",
          "FCI"
        ],
        "description": "Devuelve los valores de Rendimientos Variables de los Fondos Comunes de Inversión en la fecha indicada (en formato `YYYY/MM/DD`).\n\nTambién se puede consultar el `ultimo` y `penultimo` día con valores utilizando los endpoints: \n\n- `/v1/finanzas/fci/variables/ultimo`\n- `/v1/finanzas/fci/variables/penultimo`",
        "parameters": [
          {
            "name": "fecha",
            "in": "path",
            "description": "Fecha de consulta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "ultimo"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve una lista de Fondos Comunes de Inversión",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FondoComunInversionVariable"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-finanzas-fci-variables-fecha",
        "x-data-source": [
          "[Global66](https://global66.com/)"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "LetraCapitalizable": {
        "title": "LetraCapitalizable",
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Código del instrumento (ej: S31G5, T17O5)"
          },
          "fechaEmision": {
            "type": "string",
            "description": "Fecha de emisión original (ISO 8601)"
          },
          "fechaVencimiento": {
            "type": "string",
            "description": "Fecha de vencimiento (ISO 8601)"
          },
          "tem": {
            "type": "number",
            "description": "Tasa Efectiva Mensual (%)"
          },
          "vpv": {
            "type": "number",
            "description": "Valor de Pago al Vencimiento por cada $100 de valor nominal"
          }
        },
        "x-examples": {
          "Example 1": {
            "ticker": "S31G5",
            "fechaEmision": "2024-06-14",
            "fechaVencimiento": "2025-08-31",
            "tem": 3.75,
            "vpv": 118.45612
          }
        }
      },
      "BonoSoberanoCer": {
        "title": "BonoSoberanoCer",
        "type": "object",
        "required": [
          "ticker",
          "precioArs",
          "tirPorcentaje",
          "fechaVencimiento"
        ],
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Código del bono (ej. TZX26, TX26)"
          },
          "precioArs": {
            "type": "number",
            "description": "Precio de cotización en pesos argentinos"
          },
          "tirPorcentaje": {
            "type": "number",
            "description": "Tasa interna de retorno (TIR) en porcentaje"
          },
          "fechaVencimiento": {
            "type": "string",
            "format": "date",
            "description": "Fecha de vencimiento (ISO 8601, solo fecha: yyyy-MM-dd)"
          },
          "volumen": {
            "type": "number",
            "description": "Volumen nominal negociado, si la fuente lo publica"
          }
        },
        "x-examples": {
          "Example 1": {
            "ticker": "TZX26",
            "precioArs": 379.3,
            "tirPorcentaje": -8.55,
            "fechaVencimiento": "2026-06-30",
            "volumen": 7197806107
          }
        }
      },
      "BonosCer": {
        "title": "BonosCer",
        "type": "object",
        "required": [
          "fechaActualizacion",
          "bonos"
        ],
        "properties": {
          "fechaActualizacion": {
            "type": "string",
            "format": "date-time",
            "description": "Instante en que se generó el recurso (UTC, ISO 8601 con sufijo Z)"
          },
          "bonos": {
            "type": "array",
            "description": "Filas de la grilla soberanos CER",
            "items": {
              "$ref": "#/components/schemas/BonoSoberanoCer"
            }
          },
          "errorExtraccion": {
            "type": "string",
            "description": "Solo si falló la extracción: mensaje de error"
          }
        },
        "x-examples": {
          "Example 1": {
            "fechaActualizacion": "2026-05-04T19:02:59.767Z",
            "bonos": [
              {
                "ticker": "TZX26",
                "precioArs": 379.3,
                "tirPorcentaje": -8.55,
                "fechaVencimiento": "2026-06-30",
                "volumen": 7197806107
              }
            ]
          }
        }
      },
      "Feriado": {
        "title": "Feriado",
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string"
          },
          "tipo": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          }
        },
        "x-examples": {
          "Example 1": {
            "fecha": "2020-01-01",
            "tipo": "Inamovible",
            "motivo": "Año Nuevo"
          }
        }
      },
      "Estado": {
        "title": "Estado",
        "type": "object",
        "properties": {
          "estado": {
            "type": "string"
          },
          "aleatorio": {
            "type": "integer"
          }
        },
        "x-examples": {
          "Example 1": {
            "estado": "Disponible",
            "aleatorio": 1234
          }
        }
      },
      "Cotizacion": {
        "title": "Cotizacion",
        "type": "object",
        "properties": {
          "moneda": {
            "type": "string"
          },
          "casa": {
            "type": "string"
          },
          "fecha": {
            "type": "string"
          },
          "compra": {
            "type": "number"
          },
          "venta": {
            "type": "number"
          }
        },
        "x-examples": {
          "Example 1": {
            "compra": 123.45,
            "venta": 123.45
          }
        }
      },
      "EventoPresidencial": {
        "title": "EventoPresidencial",
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string"
          },
          "tipo": {
            "type": "string"
          },
          "evento": {
            "type": "string"
          }
        },
        "x-examples": {
          "Example 1": {
            "fecha": "2020-01-01",
            "evento": "Año Nuevo"
          }
        }
      },
      "IndiceInflacion": {
        "title": "IndiceInflacion",
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string"
          },
          "valor": {
            "type": "number"
          }
        },
        "x-examples": {
          "Example 1": {
            "mes": "Enero",
            "indice": 2.3
          }
        }
      },
      "IndiceUVA": {
        "title": "IndiceUVA",
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string"
          },
          "valor": {
            "type": "number"
          }
        },
        "x-examples": {
          "Example 1": {
            "mes": "Enero",
            "indice": 2.3
          }
        }
      },
      "RiesgoPais": {
        "title": "RiesgoPais",
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string"
          },
          "valor": {
            "type": "number"
          }
        },
        "x-examples": {
          "Example 1": {
            "fecha": "2020-01-01",
            "valor": 123.45
          }
        }
      },
      "TasaPlazoFijo": {
        "title": "TasaPlazoFijo",
        "type": "object",
        "properties": {
          "entidad": {
            "type": "string"
          },
          "logo": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL del logo de la entidad"
          },
          "tnaClientes": {
            "type": "number",
            "description": "Tasa Nominal Anual para clientes, en porcentaje",
            "example": 123.45,
            "format": "float",
            "nullable": true
          },
          "tnaNoClientes": {
            "type": "number",
            "description": "Tasa Nominal Anual para no clientes, en porcentaje",
            "example": 123.45,
            "format": "float",
            "nullable": true
          }
        },
        "x-examples": {
          "Example 1": {
            "entidad": "Banco de la Nación Argentina",
            "tnaClientes": 123.45,
            "tnaNoClientes": 123.45,
            "logo": null,
            "link": null
          }
        }
      },
      "ProveedorPlazoFijoUvaPagoPeriodico": {
        "title": "ProveedorPlazoFijoUvaPagoPeriodico",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador estable del proveedor (p. ej. bna)"
          },
          "entidad": {
            "type": "string",
            "description": "Nombre de la entidad"
          },
          "logo": {
            "type": "string",
            "format": "uri",
            "description": "URL del logo de la entidad"
          },
          "tasas": {
            "type": "array",
            "description": "Tasas por rango de plazo",
            "items": {
              "$ref": "#/components/schemas/TasaPlazoFijoUvaPagoPeriodico"
            }
          }
        },
        "x-examples": {
          "Example 1": {
            "id": "bna",
            "entidad": "Banco de la Nación Argentina",
            "logo": "https://www.bna.com.ar/Content/img/logo-bna.png",
            "tasas": [
              {
                "nombre": "PF TRAD.EN UVA CON PAGO INTERÉS SUBPERÍODOS DE 30 DÍAS",
                "plazoMinDias": 90,
                "plazoMaxDias": 119,
                "tna": 0.015,
                "tea": 0.0151
              }
            ]
          }
        }
      },
      "TasaPlazoFijoUvaPagoPeriodico": {
        "title": "TasaPlazoFijoUvaPagoPeriodico",
        "type": "object",
        "description": "Tasa para un rango de plazo dentro de un proveedor",
        "properties": {
          "nombre": {
            "type": "string",
            "description": "Nombre del tipo de plazo fijo"
          },
          "plazoMinDias": {
            "type": "integer",
            "description": "Mínimo de días del rango de plazo"
          },
          "plazoMaxDias": {
            "type": "integer",
            "description": "Máximo de días del rango de plazo"
          },
          "tna": {
            "type": "number",
            "description": "Tasa Nominal Anual",
            "format": "float"
          },
          "tea": {
            "type": "number",
            "description": "Tasa Efectiva Anual",
            "format": "float"
          }
        },
        "x-examples": {
          "Example 1": {
            "nombre": "PF TRAD.EN UVA CON PAGO INTERÉS SUBPERÍODOS DE 30 DÍAS",
            "plazoMinDias": 90,
            "plazoMaxDias": 119,
            "tna": 0.015,
            "tea": 0.0151
          }
        }
      },
      "ProveedorPlazoFijoPrecancelable": {
        "title": "ProveedorPlazoFijoPrecancelable",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador estable del proveedor"
          },
          "entidad": {
            "type": "string",
            "description": "Nombre de la entidad"
          },
          "logo": {
            "type": "string",
            "format": "uri",
            "description": "URL del logo de la entidad"
          },
          "enlace": {
            "type": "string",
            "format": "uri",
            "description": "URL de la fuente"
          },
          "canal": {
            "type": "string",
            "nullable": true,
            "description": "Canales publicados para constituir el plazo fijo"
          },
          "moneda": {
            "type": "string",
            "description": "Moneda de constitución"
          },
          "plazoMinDias": {
            "type": "integer",
            "description": "Plazo mínimo en días"
          },
          "plazoMaxDias": {
            "type": "integer",
            "nullable": true,
            "description": "Plazo máximo en días"
          },
          "plazoPrecancelacionDias": {
            "type": "integer",
            "description": "Días mínimos para ejercer la precancelación"
          },
          "avisoPrecancelacionDias": {
            "type": "integer",
            "nullable": true,
            "description": "Días hábiles de aviso previo para precancelar"
          },
          "montoMinimo": {
            "type": "number",
            "nullable": true,
            "description": "Monto mínimo de constitución"
          },
          "montoMaximo": {
            "type": "number",
            "nullable": true,
            "description": "Monto máximo de constitución"
          },
          "modalidad": {
            "type": "string",
            "nullable": true,
            "description": "Modalidad publicada por la entidad"
          },
          "tna": {
            "type": "number",
            "nullable": true,
            "format": "float",
            "description": "Tasa Nominal Anual"
          },
          "tea": {
            "type": "number",
            "nullable": true,
            "format": "float",
            "description": "Tasa Efectiva Anual"
          },
          "tnaPrecancelacion": {
            "type": "number",
            "nullable": true,
            "format": "float",
            "description": "Tasa Nominal Anual aplicada ante precancelación"
          },
          "teaPrecancelacion": {
            "type": "number",
            "nullable": true,
            "format": "float",
            "description": "Tasa Efectiva Anual aplicada ante precancelación"
          }
        },
        "x-examples": {
          "Example 1": {
            "id": "bna",
            "entidad": "Banco de la Nación Argentina",
            "logo": "https://www.bna.com.ar/Content/img/logo-bna.png",
            "enlace": "https://www.bna.com.ar/personas/plazofijoprecancelableuva",
            "canal": "App BNA+, Home Banking y sucursales",
            "moneda": "ARS",
            "plazoMinDias": 180,
            "plazoMaxDias": 370,
            "plazoPrecancelacionDias": 30,
            "avisoPrecancelacionDias": 5,
            "montoMinimo": 1500,
            "montoMaximo": 5000000,
            "modalidad": "intransferible",
            "tna": 0.01,
            "tea": 0.01,
            "tnaPrecancelacion": 0.83,
            "teaPrecancelacion": 1.232
          }
        }
      },
      "TasaInteres": {
        "title": "TasaInteres",
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string"
          },
          "valor": {
            "type": "number"
          }
        },
        "x-examples": {
          "Example 1": {
            "entidad": "Banco de la Nación Argentina",
            "tna": 123.45
          }
        }
      },
      "CuentaRemuneradaUsd": {
        "title": "CuentaRemuneradaUsd",
        "type": "object",
        "properties": {
          "entidad": {
            "type": "string",
            "description": "Identificador de la entidad (p. ej. BNA, GALICIA, SUPERVIELLE)"
          },
          "tasa": {
            "type": "number",
            "format": "float",
            "description": "Tasa de rendimiento anual en formato decimal (p. ej. 0.02 = 2 % anual)"
          },
          "tope": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Monto máximo en USD remunerado a esa tasa, o null si no hay tope o no se informó"
          }
        },
        "x-examples": {
          "Example 1": {
            "entidad": "BNA",
            "tasa": 0.006,
            "tope": 10000
          }
        }
      },
      "Criptopeso": {
        "title": "Criptopeso",
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Token del criptopeso (ej: ARGt, wARS)"
          },
          "entidad": {
            "type": "string",
            "description": "Nombre de la entidad que ofrece el criptopeso"
          },
          "tna": {
            "type": "number",
            "description": "Tasa Nominal Anual en porcentaje",
            "format": "float"
          }
        },
        "x-examples": {
          "Example 1": {
            "token": "ARGt",
            "entidad": "Belo",
            "tna": 0.25
          }
        }
      },
      "HipotecarioUvaTna": {
        "title": "HipotecarioUvaTna",
        "type": "object",
        "properties": {
          "entidad": {
            "type": "string",
            "description": "Nombre del banco u oferente del crédito hipotecario UVA"
          },
          "nombreComercial": {
            "type": "string",
            "description": "Nombre comercial"
          },
          "tna": {
            "type": "number",
            "description": "Tasa Nominal Anual",
            "format": "float",
            "minimum": 0,
            "maximum": 1
          },
          "metadata": {
            "type": "object",
            "description": "Detalle de condiciones",
            "properties": {
              "plazo_max_anios": {
                "type": "integer",
                "description": "Plazo máximo del préstamo en años"
              },
              "relacion_cuota_ingreso": {
                "type": "string",
                "description": "Relación cuota–ingreso indicada en la fuente (p. ej. porcentaje del ingreso)"
              },
              "financiamiento": {
                "type": "string",
                "description": "Porcentaje o condición de financiamiento"
              }
            }
          }
        },
        "x-examples": {
          "Example 1": {
            "entidad": "BNA",
            "nombreComercial": "BNA",
            "tna": 0.06,
            "metadata": {
              "plazo_max_anios": 30,
              "relacion_cuota_ingreso": "25%",
              "financiamiento": "75%"
            }
          }
        }
      },
      "FondoComunInversion": {
        "title": "FondoComunInversion",
        "type": "object",
        "properties": {
          "fondo": {
            "type": "string"
          },
          "tipo": {
            "type": "string"
          },
          "fecha": {
            "type": "string"
          },
          "vcp": {
            "type": "number"
          },
          "ccp": {
            "type": "number"
          },
          "patrimonio": {
            "type": "number"
          },
          "horizonte": {
            "type": "string",
            "enum": [
              "corto",
              "medio",
              "largo"
            ]
          }
        },
        "x-examples": {
          "Example 1": {
            "fondo": "Fondo Común de Inversión",
            "vcp": 123.45,
            "ccp": 123.45,
            "patrimonio": 123.45,
            "horizonte": "corto"
          }
        }
      },
      "FondoComunInversionOtro": {
        "title": "FondoComunInversionOtro",
        "type": "object",
        "properties": {
          "fondo": {
            "type": "string"
          },
          "fecha": {
            "type": "string"
          },
          "tea": {
            "type": "number"
          },
          "tna": {
            "type": "number"
          },
          "tope": {
            "type": "number"
          }
        },
        "x-examples": {
          "Example 1": {
            "fondo": "Otro Fondo Común de Inversión",
            "tea": 123.45,
            "tna": 123.45,
            "tope": 123.45
          }
        }
      },
      "FondoComunInversionVariable": {
        "title": "FondoComunInversionVariable",
        "type": "object",
        "properties": {
          "nombre": {
            "type": "string",
            "description": "Identificador de la fuente en Argentina Datos (por ejemplo el proveedor o el canal)."
          },
          "fondo": {
            "type": "string",
            "description": "Nombre del fondo común de inversión (clase o denominación oficial)."
          },
          "tipo": {
            "type": "string",
            "description": "Clasificación del instrumento. Valor conocido: `billetera` (cuenta remunerada en billetera digital).",
            "enum": [
              "billetera"
            ]
          },
          "fecha": {
            "type": "string"
          },
          "tea": {
            "type": "number"
          },
          "tna": {
            "type": "number"
          },
          "tope": {
            "type": "number",
            "nullable": true
          },
          "condiciones": {
            "type": "string",
            "nullable": true
          },
          "condicionesCorto": {
            "type": "string",
            "nullable": true
          }
        },
        "x-examples": {
          "Example 1": {
            "nombre": "GLOBAL66",
            "fondo": "Compass Liquidez - Clase A",
            "tipo": "billetera",
            "fecha": "2026-04-23",
            "tea": 0.2273,
            "tna": 0.2048,
            "tope": null,
            "condiciones": "Solo clientes persona con servicio de rendimientos activado",
            "condicionesCorto": "Solo clientes B2C"
          }
        }
      },
      "Rendimiento": {
        "title": "Rendimiento",
        "type": "object",
        "properties": {
          "moneda": {
            "type": "string"
          },
          "apy": {
            "type": "number"
          },
          "fecha": {
            "type": "string"
          }
        },
        "x-examples": {
          "Example 1": {
            "moneda": "USDT",
            "apy": 123.45,
            "fecha": "2024-01-01"
          }
        }
      },
      "EntidadRendimiento": {
        "title": "EntidadRendimiento",
        "type": "object",
        "properties": {
          "entidad": {
            "type": "string"
          },
          "rendimientos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rendimiento"
            }
          }
        }
      },
      "ActaSenado": {
        "title": "ActaSenado",
        "type": "object",
        "properties": {
          "actaId": {
            "type": "integer",
            "nullable": true
          },
          "titulo": {
            "type": "string",
            "nullable": true
          },
          "proyecto": {
            "type": "string"
          },
          "descripcion": {
            "type": "string"
          },
          "quorumTipo": {
            "type": "string"
          },
          "fecha": {
            "type": "string",
            "format": "date"
          },
          "acta": {
            "type": "string"
          },
          "mayoria": {
            "type": "string"
          },
          "miembros": {
            "type": "integer"
          },
          "afirmativos": {
            "type": "integer"
          },
          "negativos": {
            "type": "integer"
          },
          "abstenciones": {
            "type": "integer"
          },
          "presentes": {
            "type": "integer"
          },
          "ausentes": {
            "type": "integer"
          },
          "amn": {
            "type": "integer"
          },
          "resultado": {
            "type": "string",
            "enum": [
              "afirmativa",
              "negativa",
              "cancelada lev.vot."
            ]
          },
          "votos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VotoData"
            }
          },
          "observaciones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Senador": {
        "title": "Senador",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          },
          "provincia": {
            "type": "string"
          },
          "partido": {
            "type": "string"
          },
          "periodoLegal": {
            "type": "object",
            "properties": {
              "inicio": {
                "type": "string",
                "format": "date",
                "nullable": true
              },
              "fin": {
                "type": "string",
                "format": "date",
                "nullable": true
              }
            }
          },
          "periodoReal": {
            "type": "object",
            "properties": {
              "inicio": {
                "type": "string",
                "format": "date",
                "nullable": true
              },
              "fin": {
                "type": "string",
                "format": "date",
                "nullable": true
              }
            }
          },
          "reemplazo": {
            "type": "string",
            "nullable": true
          },
          "observaciones": {
            "type": "string",
            "nullable": true
          },
          "foto": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "telefono": {
            "type": "string",
            "nullable": true
          },
          "redes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        }
      },
      "VotoData": {
        "title": "VotoData",
        "type": "object",
        "properties": {
          "nombre": {
            "type": "string"
          },
          "voto": {
            "type": "string",
            "enum": [
              "si",
              "no",
              "ausente",
              "abstencion",
              "no emite",
              "desconocido"
            ]
          },
          "banca": {
            "type": "string"
          }
        }
      },
      "Diputado": {
        "title": "Diputado",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          },
          "apellido": {
            "type": "string"
          },
          "genero": {
            "type": "string"
          },
          "provincia": {
            "type": "string"
          },
          "periodoMandato": {
            "type": "object",
            "properties": {
              "inicio": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "fin": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          },
          "juramentoFecha": {
            "type": "string",
            "format": "date-time"
          },
          "ceseFecha": {
            "type": "string",
            "format": "date-time"
          },
          "bloque": {
            "type": "string"
          },
          "periodoBloque": {
            "type": "object",
            "properties": {
              "inicio": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "fin": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          },
          "foto": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "ActaDiputados": {
        "title": "ActaDiputados",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "periodo": {
            "type": "string"
          },
          "reunion": {
            "type": "string"
          },
          "numeroActa": {
            "type": "string"
          },
          "titulo": {
            "type": "string"
          },
          "resultado": {
            "type": "string"
          },
          "fecha": {
            "type": "string",
            "format": "date-time"
          },
          "presidente": {
            "type": "string"
          },
          "votosAfirmativos": {
            "type": "integer"
          },
          "votosNegativos": {
            "type": "integer"
          },
          "abstenciones": {
            "type": "integer"
          },
          "ausentes": {
            "type": "integer"
          },
          "votos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "diputado": {
                  "type": "string"
                },
                "tipoVoto": {
                  "type": "string",
                  "enum": [
                    "afirmativo",
                    "negativo",
                    "abstencion",
                    "ausente",
                    "presidente"
                  ]
                },
                "imagen": {
                  "type": "string"
                },
                "videoDiscurso": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "Presidente": {
        "title": "Presidente",
        "type": "object",
        "properties": {
          "nombre": {
            "type": "string"
          },
          "inicio": {
            "type": "string",
            "nullable": true,
            "description": "Fecha de inicio del mandato (formato yyyy-MM-dd)"
          },
          "fin": {
            "type": "string",
            "nullable": true,
            "description": "Fecha de fin del mandato (formato yyyy-MM-dd). Null si es el presidente actual."
          },
          "partido": {
            "type": "string",
            "nullable": true
          },
          "periodoPresidencial": {
            "type": "string",
            "nullable": true,
            "description": "Rango de años del período presidencial (ej: '2019-2023')"
          },
          "vicepresidente": {
            "type": "string",
            "nullable": true,
            "description": "Nombre del vicepresidente. Puede ser 'Cargo inexistente' o 'vacante' en ciertos periodos."
          },
          "imagen": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL de la imagen del presidente"
          },
          "partidoImagen": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL de la imagen del logo del partido político"
          }
        },
        "x-examples": {
          "Example 1": {
            "nombre": "Javier Milei",
            "inicio": "2023-12-10",
            "fin": null,
            "partido": "La Libertad Avanza",
            "periodoPresidencial": "2023-2027",
            "vicepresidente": "Victoria Villarruel",
            "imagen": "https://api.argentinadatos.com/static/presidentes/javier-milei.jpg",
            "partidoImagen": "https://api.argentinadatos.com/static/partidos/la-libertad-avanza.png"
          }
        }
      },
      "RemExpectativa": {
        "title": "RemExpectativa",
        "type": "object",
        "properties": {
          "informe": {
            "type": "string",
            "description": "Informe REM en formato YYYY-MM"
          },
          "fecha": {
            "type": "string",
            "format": "date",
            "description": "Fecha ISO del primer día del mes del informe"
          },
          "muestra": {
            "type": "string",
            "enum": [
              "todos",
              "top_10"
            ],
            "description": "Muestra de participantes: todos o TOP 10"
          },
          "indicador": {
            "type": "string",
            "description": "Indicador relevado"
          },
          "periodo": {
            "type": "string",
            "description": "Período original informado por el BCRA"
          },
          "periodoTipo": {
            "type": "string",
            "description": "Tipo de período normalizado"
          },
          "periodoDesde": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Fecha de inicio del período normalizado"
          },
          "periodoHasta": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Fecha de fin del período normalizado"
          },
          "referencia": {
            "type": "string",
            "description": "Referencia original de la tabla"
          },
          "referenciaFecha": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Fecha detectada en la referencia, si corresponde"
          },
          "unidad": {
            "type": "string",
            "nullable": true,
            "description": "Unidad inferida desde la referencia"
          },
          "mediana": {
            "type": "number",
            "nullable": true
          },
          "promedio": {
            "type": "number",
            "nullable": true
          },
          "desvio": {
            "type": "number",
            "nullable": true
          },
          "maximo": {
            "type": "number",
            "nullable": true
          },
          "minimo": {
            "type": "number",
            "nullable": true
          },
          "percentil90": {
            "type": "number",
            "nullable": true
          },
          "percentil75": {
            "type": "number",
            "nullable": true
          },
          "percentil25": {
            "type": "number",
            "nullable": true
          },
          "percentil10": {
            "type": "number",
            "nullable": true
          },
          "participantes": {
            "type": "integer",
            "nullable": true
          },
          "fuente": {
            "type": "string"
          },
          "publicacionUrl": {
            "type": "string",
            "nullable": true
          },
          "xlsxUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "x-examples": {
          "Example 1": {
            "informe": "2026-03",
            "fecha": "2026-03-01",
            "muestra": "todos",
            "indicador": "Precios minoristas (IPC nivel general-Nacional; INDEC)",
            "periodo": "Mar-26",
            "periodoTipo": "mensual",
            "periodoDesde": "2026-03-01",
            "periodoHasta": "2026-03-31",
            "referencia": "var. % mensual",
            "referenciaFecha": null,
            "unidad": "var. % mensual",
            "mediana": 3,
            "promedio": 3,
            "desvio": 0.2,
            "maximo": 3.5,
            "minimo": 2.5,
            "percentil90": 3.2,
            "percentil75": 3.1,
            "percentil25": 2.9,
            "percentil10": 2.8,
            "participantes": 46,
            "fuente": "BCRA REM",
            "publicacionUrl": "https://www.bcra.gob.ar/publicaciones/relevamiento-de-expectativas-de-mercado-rem-marzo-de-2026/",
            "xlsxUrl": "https://www.bcra.gob.ar/archivos/Pdfs/PublicacionesEstadisticas/informes/tablas-relevamiento-expectativas-mercado-mar-2026.xlsx"
          }
        }
      }
    }
  }
}